.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin-left: 0;
  line-height: 1.5; 
}

.markdown-body h1 {
  font-size: 2em;
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.markdown-body h2 {
  font-size: 1.5em;
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.markdown-body h3 {
  font-size: 1.25em;
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.markdown-body p {
  margin-top: 0;
  margin-bottom: 16px;
}

.markdown-body a {
  color: #e2a727; 
  text-decoration: none;
}

.markdown-body a:hover {
  text-decoration: underline;
}

.markdown-body ul {
  list-style-type: disc;
  padding-left: 2em;
  margin-bottom: 16px;
}

.markdown-body ul.contains-task-list {
  list-style-type: none;
  padding-left: 0;
}

.markdown-body .task-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}

.markdown-body .task-list-item input[type="checkbox"] {
  margin-right: 0.5em;
  appearance: none;
  width: 1.2em;
  height: 1.2em;
  border: 1px solid #6a737d;
  border-radius: 50%; 
  vertical-align: top;
  position: relative;
  top: 0.2em;
  cursor: pointer; 
}

.markdown-body .task-list-item input[type="checkbox"]:checked {
  background-color: #e2a727;
  border-color: #e2a727;
}

.markdown-body .task-list-item input[type="checkbox"]:checked::after {
  content: '\2713'; 
  font-size: 1em;
  color: #1c1c1c;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.markdown-body ol {
  list-style-type: decimal;
  padding-left: 2em;
  margin-bottom: 16px;
}

.markdown-body li {
  margin: 0.5em 0;
}

.markdown-body blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

.markdown-body code {
  background-color: #f6f8fa;
  border-radius: 3px;
  padding: 0.2em 0.4em;
  font-size: 85%;
}

.markdown-body pre {
  background-color: #f6f8fa;
  padding: 16px;
  overflow: auto;
  border-radius: 3px;
}