.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin-left: 0;

  }
  
  .markdown-body h1,
  .markdown-body h2,
  .markdown-body h3,
  .markdown-body h4,
  .markdown-body h5,
  .markdown-body h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
  }
  
  .markdown-body p {
    margin-top: 0;
    margin-bottom: 16px;
  }
  
  .markdown-body a {
    color: #0366d6;
    text-decoration: none;
  }
  
  .markdown-body a:hover {
    text-decoration: underline;
  }
  
  .markdown-body ul {
    list-style-type: disc;
    padding-left: 2em;
  }
  
  .markdown-body ol {
    list-style-type: decimal;
    padding-left: 2em;
  }
  
  .markdown-body li {
    margin: 0.5em 0;
  }
  .markdown-body blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
  }
  
  .markdown-body code {
    background-color: #f6f8fa;
    border-radius: 3px;
    padding: 0.2em 0.4em;
    font-size: 85%;
  }
  
  .markdown-body pre {
    background-color: #f6f8fa;
    padding: 16px;
    overflow: auto;
    border-radius: 3px;
  }
    